<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>success page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col">
                <h1> CodingDojo Wall</h1>
            </div>
            <div class="col">
                <p class= "text-right">Welcome, {{winnerwinner}}!! <a href="/logout">Log Out</a></p>
            </div>    
        </div>
        <div class="row">
            <div class="col">
                <form action = "delete" name= "deletethis">
                    <p> Message(s) for You</p>
                    for friend users (link)
                
                </form>
            </div>
            <div class="col">
                <
            </div>
        </div>
        







    </div>
</body>

</html>