<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Showing home page for logged in User</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Welcome, {{request.session.user}}</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/add">Add Book and Review</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="panel-heading">
                        <h2>Recent Book Reviews:</h2>
                    </div>

                </div>
                
                <div class="col-md-5">
                    <div class="panel-heading">
                        <h2>Other Book Reviews:</h2>
                    </div>
                    

                </div>


            </div>

        </div>
    </body>
</html>