<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/quotes"> Go Back </a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"> </span>  Logout</a></li>
                    
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class ="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>{{user.first_name}} {{user.last_name}}'s Quotes</h2>
                        </div>
                        {% for quote in userquotes %}
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                            <p>{{quote.author}}: "{{quote.quote}}"</p>
                            </blockquote>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>